@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
}

header .icon-menu {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.carousel-inner .img-carousel {
    object-fit: cover;
    object-position: 0 20%;
    height: 500px;
}

.carousel-inner .img-carousel {
    object-fit: cover;
    object-position: 0 20%;
    height: 500px;
}

.carousel-inner > .carousel-item > div {
    display: block !important;
}

#quem-somos .box {
    max-width: 190px;
    max-height: 310px;    
	border-radius: 150px;
	background:#fff;
	position:relative;
	overflow: hidden;
	text-align:center;
}

#quem-somos .box:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    border-radius: 150px;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.30);
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #475bcd 0%, #02a9f4 100%);
}

#quem-somos .box:hover:before {
    width: 100%;
}

#quem-somos .box:hover .image-wrapper {
	padding:0;
    border: 5px solid #ea1e63;
}

#quem-somos .box:hover .box-desc {
	color:#fff;
}

#quem-somos .box:hover .social li a {
	background:#fff;
	background-image: none;
	color:#000;
}

#quem-somos .box:hover .social li a:hover {
	background:#1d1d1d;
	color:#fff;
}

#quem-somos .image-wrapper {
    position: relative;
	max-width: 210px;
    max-height: 210px;
	margin:0 auto;
    overflow: hidden;
    border-radius: 50%;
    padding: 15px;
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.20);
}

#quem-somos .image-wrapper img {
    border-radius: 50%;
    transition: all 500ms ease;
}

#quem-somos .box-desc {
	position:relative;
}

#cards .card-largura {
    max-width: 18rem;
}

#cards .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cards .img-produto {
    object-fit: cover;    
    height: 300px;
}






.form-label {
    margin-bottom: unset;
    margin-top: .5rem;
}

.invalid-feedback {
    margin-bottom: .2rem;
}

.btn-enviar {
    margin-top: 15px;
    background-color: rgb(171, 171, 171);
    color:#fff;
}

.btn-enviar:hover {
    border: 1px solid rgb(171, 171, 171);
    background-color: #fff;
    color:rgb(171, 171, 171);
}

footer .midias a {   
    transition: 0.3s;
    display: inline-block;
}

footer .midias a:hover {
    transform: translateY(-15px);
}

@media (max-width: 425px) {
    footer{
        flex-direction: column;
        gap: 30px;
    }    
}

/*

Material Icons
https://fonts.google.com/icons?selected=Material+Icons&icon=

Documentação Boootstrap
https://getbootstrap.com/docs/5.1/getting-started/introduction/

*/